ul {
	list-style-type: none;
}

/*Alignment*/
.center { margin : 0 auto; text-align: center; }

.left { float: left; }

.right { float: right; }

body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}
 
.queueItem { list-style-type: none; }


#calendar {
	width: 900px;
	margin: 0 auto;
	}
 
/*Navigation Bar*/
#navbar ul { 
          margin: 0; 
          padding: 5px; 
          list-style-type: none; 
          text-align: center; 
          background-color: #000; 
          } 
 
#navbar ul li {  
          display: inline; 
          } 
  
#navbar ul li a { 
          text-decoration: none; 
          padding: .2em 1em; 
          color: #fff; 
          background-color: #000; 
          } 
 
#navbar ul li a:hover { 
          color: #000; 
          background-color: #fff; 
          } 
#footer  { 
          font-size: 10px; 
          }
#container {
          width: 500px;
          height: 500px;
          background-color: #FDA;
          margin: 0 auto;
          overflow: hidden;
}

/*Contact Info. Page*/
.contactInfoTable {
	margin: 0 auto;
	border-spacing: 75px 5px;
}

.editTitle{
	float: right;
}

.editStatus{
	float: right;
}

#Contact_List {
	text-align: left;
}
